<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>About us</title>


  <link rel="shortcut icon" href="css/imgs/logo.ico">

  <!-------------- Bootstrap Stylesheet ------------->
  <link rel="stylesheet" href="css/bootstrap-4.5.min.css">
  <link rel="stylesheet" href="css/social.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <!---------- NAVBAR ----------->
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">TecnoInfo</a>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Language
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item navHoverColor" href="/espanol"><img src="css/imgs/espanol.png" alt="Español">Spanish</a>
            <a class="dropdown-item navHoverColor" href="/english"><img src="css/imgs/ingles.png" alt="Inglés">English</a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Types of antennas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item navHoverColor" href="/antennas">Type of antennas</a>
              <a class="dropdown-item navHoverColor" href="/ovnisIng">Omnidirectional antennas</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Servers
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item navHoverColor" href="/servers">Servers</a>
              <a class="dropdown-item navHoverColor" href="/softwareIng">UMNS</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Devices
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item navHoverColor" href="/wifiApIng">Wi-Fi AP</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/switchesIng">Switches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutUs">Who are we?</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="bg-light py-5">
      <div class="container py-5">
        <div class="row mb-4">
          <div class="col-lg-5">
            <h2 class="display-4 font-weight-light">Our team</h2>
            <p class="font-italic text-muted">We are a group of students from the IT career at UTN, Costa Rica.</p>
          </div>
        </div>

        <div class="row text-center">
          <!-- Team item-->
          <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="css/imgs/betsy.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Betsy Fernández</h5><span class="small text-uppercase text-muted">Student</span>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a title="Facebook" href="https://www.facebook.com/" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a title="Twitter" href="https://twitter.com/" class="social-link"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a title="Instagram" href="https://www.instagram.com/" class="social-link"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a title="Linkedin" href="https://www.linkedin.com/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- End-->

          <!-- Team item-->
          <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="css/imgs/victor.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Victor Zúniga</h5><span class="small text-uppercase text-muted">Student</span>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a title="Facebook" href="https://www.facebook.com/" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a title="Twitter" href="https://twitter.com/" class="social-link"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a title="Instagram" href="https://www.instagram.com/" class="social-link"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a title="Linkedin" href="https://www.linkedin.com/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- End-->

          <!-- Team item-->
          <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="css/imgs/susan.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Susan Delgado</h5><span class="small text-uppercase text-muted">Student</span>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a title="Facebook" href="https://www.facebook.com/" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a title="Twitter" href="https://twitter.com/" class="social-link"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a title="Instagram" href="https://www.instagram.com/" class="social-link"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a title="Linkedin" href="https://www.linkedin.com/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- End-->

          <!-- Team item-->
          <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="css/imgs/johel.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Johel González</h5><span class="small text-uppercase text-muted">Student</span>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a title="Facebook" href="https://www.facebook.com/" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a title="Twitter" href="https://twitter.com/" class="social-link"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a title="Instagram" href="https://www.instagram.com/" class="social-link"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a title="Linkedin" href="https://www.linkedin.com/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- End-->

          <!-- Team item-->
          <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="css/imgs/carolina.png" alt="Carolina" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Carolina Obando</h5><span class="small text-uppercase text-muted">Student</span>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a title="Facebook" href="https://www.facebook.com/" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a title="Twitter" href="https://twitter.com/" class="social-link"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a title="Instagram" href="https://www.instagram.com/" class="social-link"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a title="Linkedin" href="https://www.linkedin.com/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- End-->

        </div>
      </div>
    </div>

    <script src="js/jquery-3.5.1.min.js" charset="utf-8"></script>
    <script src="js/bootstrap-4.5.bundle.min.js" charset="utf-8"></script>
</body>

</html>