<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Antenas</title>
  <!-------------- LOGO ---------------->
  <link rel="shortcut icon" href="css/imgs/logo.ico">

  <!-------------- Bootstrap Stylesheet ------------->
  <link rel="stylesheet" href="css/bootstrap-4.5.min.css">

  <link rel="stylesheet" href="/css/pages.css">

</head>

<body>

  <section id="wrapper" class="toggled">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand"><a class="enc1" href="#">Tipos de antes y su cobertura</a></li>
        </br>
        </br>
        <hr class="hrEnc">
        <center>
          <li> <a class="lista" href="#monopolo"> Antena Monopolo</a> </li>
          <li> <a class="lista" href="#dipolo">Antena Dipolo</a> </li>
          <li> <a class="lista" href="#Yagi–Uda">Yagi–Uda</a> </li>
          <li> <a class="lista" href="#AntenaPanel">Antena Panel</a> </li>
          <li> <a class="lista" href="#Antenainvisible">Antena invisible</a> </li>
          <li> <a class="lista" href="#AntenaMicrostrip">Antena Microstrip</a> </li>
          <li> <a class="lista" href="#AntenaParabólica">Antena Parabólica </a> </li>
          <li> <a class="lista" href="#AntenaRanura ">Antena Ranura </a> </li>
          <li> <a class="home" href="/espanol">Volver a Home</a> </li>
        </center>
      </ul>
    </div>
  </section>

  <div class="container-fluid">
    <br>
    <p class="auth"><strong>Autor:</strong> Susan Delgado, 6 Marzo, 2021</p>
  </div>
  <section class="middle-container">
    <div id="monopolo" class="skill-row">
      <br>
      <hr><br>
      <h1>Antena Monopolo (un polo) </h1>
      <br>
      <p> La antena Monopolo o antena Marconi, es la antena más sencilla.
        Se puede encontrar y utilizar en casi todos los servicios de radio y
        telecomunicaciones, especialmente en bajas frecuencias. Se instala en
        una dirección vertical similar a un poste y a tierra a través del acoplamiento red de la antena.</p>

      <center>
        <img src="css/imgs/Antena+Monopolo.jpg" width="500" height="500" alt="">
      </center>
      <br><br>
      <p>Su funcionamiento se basa en la reflexión virtual generada por el suelo en dirección opuesta a la dirección de la antena.</p>
      <p>Utiliza una teoría llamada "método del espejo". La reflexión de la energía depende más o menos de las características físicas de la tierra, especialmente la conductividad.</p>
      <p>Una antena monopolo presenta un patrón de radiación omnidireccional (en todas las direcciones) en un plano perpendicular a la antena (generalmente horizontal).</p>
      <p>Aunque los monopolos se pueden utilizar en casi todas las tecnologías o todos los servicios de radio, debido a su tamaño, en realidad son los únicos monopolos dedicados a los transmisores de AM.</p>
      <p>Si lo miras, los transmisores de AM suelen ser torres muy largas, a veces incluso cientos de metros, y otras veces instaladas como torres.</p>
      <p>También se pueden utilizar para otros tipos de servicios, como sistemas de radiodifusión FM de baja potencia, sistemas de radio móvil, sistemas de televisión de baja cobertura, teléfonos móviles y sistemas Wi-Fi en zonas rurales.</p>
      <p>En el laboratorio del docente del IIE, se midió la impedancia de la antena y encontró un valor de 50Ω para una frecuencia de 560 MH.</p>
    </div>
    <br>
    <hr>
    <br>
    <div class="skill-row" id="dipolo">
      <h1>Antena Dipolo</h1>
      <br>
      <center>
        <p>Los dipolos suelen estar presentes en casi todos los servicios actualmente existentes, principalmente en el conjunto de antenas de radiotransmisores FM, pero también en transmisores de televisión y servicios de despacho, situaciones
          policiales y de emergencia, bomberos y ambulancias, etc.
        </p>
        <img src="css/imgs/Dipole_receiving.gif" width="500" height="500" alt="">
        <br><br>
        <p>Se trata de una antena con dos polos orientados en direcciones opuestas, porque cada polo se comporta como una parte de una línea de transmisión de un cuarto de onda. Por lo tanto, la longitud más común es ½ onda. Como su nombre indica,
          esta
          antena se utiliza para una sola frecuencia Se logra un buen compromiso entre direccionalidad y tamaño. Según los requisitos del servicio, la antena se puede colocar horizontal o verticalmente con respecto a la superficie terrestre. El
          patrón
          de radiación es omnidireccional en el plano H y se utiliza para aplicaciones como las comunicaciones móviles.
        </p>
      </center>
    </div>
    <br>
    <hr><br>
    <div class="skill-row" id="Yagi–Uda">
      <h1>Antena Yagi – Uda</h1>
      <br>
      <center>
        <p>Es una antena direccional compuesta por elementos parásitos y elementos activos, colocados en paralelo entre ellos, y sostenidos por un brazo o eje móvil.
        </p>
        <img src="css/imgs/Antena Yagi – Uda.png" width="500" height="500" alt="">
        <br><br>
        <p>El elemento parásito puede ser un reflector o director que define la máxima dirección de radiación,
          mientras que el elemento activo es un dipolo de ½ onda. La antena Yagi más simple consta de 3 elementos.
          Para las bandas de VHF y UHF, este tipo de antena utiliza 30 Hay una reflector y varios directores entre ellos.
        </p>
        <p>
          Debido a su simplicidad y ancho de banda relativamente grande, las antenas Yagi-Uda
          se utilizan ampliamente en aplicaciones de transmisión de televisión, estaciones de radioaficionados
          y se han utilizado en otros tipos de servicios en los últimos años, como enlaces de radio puntuales.
          Algunas yagis de frecuencias por encima de 1.5 GHz necesitan el uso de cubiertas, para protección del agua de lluvia.
        </p>
      </center>
    </div>
    <br>
    <hr><br>
    <div class="skill-row" id="AntenaPanel">
      <h1>Antena Panel</h1>
      <br>
      <center>
        <p>Consisten en una disposición de dipolos en fase para obtener un patrón de radiación determinado
          por una cubierta omnidireccional conectada horizontal o verticalmente a una estructura plana rectangular ubicada a 1'¼ de
          la superficie actuando como reflector, Ubicado dentro del panel de fibra de vidrio.
        </p>
        <img src="css/imgs/Antena Panel.gif" width="500" height="500" alt="">
        <br><br>
        <p>Algunos materiales que son transparentes a las ondas el Recientemente,
          se utilizan para servicios de radio móvil convencionales y bandas de frecuencias más bajas
          de sistemas de televisión digital radiada, como la banda VHF y algunas partes inferiores de UHF.ectromagnéticas.
        </p>
      </center>
    </div>
    <br>
    <hr><br>
    <div class="skill-row" id="Antenainvisible">
      <h1>Antena invisible</h1>
      <br>
      <center>
        <p>Actualmente, el uso de antenas invisibles se da en las señales de estaciones móviles que intentan
          llegar a diferentes lugares. Los operadores de telefonía están intentando innovar en la calidad de la cobertura
          para convencer a los usuarios de sus planes. Se les llama invisibles porque no se pueden ver en este momento.
        </p>

      </center>
    </div>
    <br>
    <hr><br>
    <div class="skill-row" id="AntenaMicrostrip">
      <h1>Antena Microstrip o Parche</h1>
      <br>
      <center>
        <p>El tamaño en miniatura determina el rango de aplicación de esta antena,
          por lo que se utiliza en equipos que necesitan utilizar un pequeño sistema
          de comunicación en condiciones óptimas.
        </p>
        <img src="css/imgs/Antena Microstrip o Parche.jpg" width="500" height="500" alt="">
        <br><br>
        <p>de alto alcance como aviación, satélites, teléfonos móviles y misiles.
          De esta forma, la antena microstrip o la antena patch pueden simular la emisión de un punto a otro,
          pero la estructura es compacta.
          El problema es que por su microestructura su ganancia es muy baja y puede fallar por factores externos como el mal tiempo.
        </p>
      </center>
    </div>
    <br>
    <hr><br>
    <div class="skill-row" id="AntenaPanel">
      <h1>Antena Panel </h1>
      <br>
      <center>
        <p>A diferencia del diseño mencionado anteriormente,
          la antena de panel intenta lograr una amplia gama de radiación de ondas electromagnéticas.
        </p>

        <br><br>
        <p>Estructuralmente, tiene una antena dipolo con buena ganancia.
          Las antenas de panel suelen funcionar dentro del área de cobertura de Internet,
          gracias a su amplio rango de radiación, que puede alcanzar una directividad media a alta.
        </p>
      </center>
    </div>
    <br>
    <hr><br>
    <div class="skill-row" id="AntenaParabólica">
      <h1>Antena Parabólica </h1>
      <br>
      <center>
        <p>Al igual que el panel, la antena parabólica tiene una buena ganancia debido a su estructura. Como sugiere su nombre,
          este tipo de antena está hecha de un reflector que trabaja en una dirección específica. éticas.
        </p>
        <img src="css/imgs/Antena Parabólica.gif" width="500" height="500" alt="">
        <br><br>
        <p>. La antena parabólica emite señales a través de satélites de comunicación.
          El motivo es que su modelo de rentabilidad es muy extenso,
          pero su instalación y mantenimiento requieren mucho trabajo.
        </p>
      </center>
    </div>
    <br>
    <hr><br>
    <div class="skill-row" id="AntenaRanura">
      <h1>Antena Ranura </h1>
      <br>
      <center>
        <p>La directividad y la ganancia son los elementos de calidad baja a media en las antenas de ranura.
          Su ventaja es que son tan fáciles de fabricar y de bajo costo como las antenas dipolo.
          Las antenas de ranura permiten la propagación en un lugar estrecho que consiste en una placa
          de metal a la que se irradian ondas.
        </p>
        <img src="css/imgs/8+8WaveGuideDiag.gif" width="500" height="500" alt="">
        <br><br>

      </center>
    </div>
    <br>
    <hr><br>
    <div id="autor" class="skill-row">
      <img class="img-susan" src="css/imgs/susan.png" alt="Victor">
      <h5>Susan Delgado Salazar</h5>
      <p class="into">Estudiante de TI en la <a href="https://www.utn.ac.cr/" title="Página Universidad" style="color: green;"> UTN</a>, Costa Rica</p>
    </div>
  </section>

  <!---------- Bootstrap Script, Javascript and jQuery ----------->
  <script src="js/btnTop.js" charset="utf-8"></script>
  <script src="js/bootstrap-4.5.bundle.min.js" charset="utf-8"></script>
</body>

</html>