<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Omnidireccional</title>
  <!-------------- LOGO ---------------->
  <link rel="shortcut icon" href="css/imgs/logo.ico">

  <!-------------- Bootstrap Stylesheet ------------->
  <link rel="stylesheet" href="css/bootstrap-4.5.min.css">

  <link rel="stylesheet" href="/css/pages.css">

</head>

<body>

  <section id="wrapper" class="toggled">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <center>
          <br>
          <li class="sidebar-brand"><a class="enc" href="#omni">Antenas Omnidireccionales</a></li>
          <hr class="hrEnc">
          <li> <a class="lista" href="#alfaNetwork">Alfa Network AOA-2458</a> </li>
          <li> <a class="lista" href="#AntWifiOmni">Omnidireccional 12dBi</a> </li>
          <li> <a class="lista" href="#AntWifOmn">Omnidireccional 8dBi</a> </li>
          <li> <a class="lista" href="#intHor">Interline Horizon 12dBi</a> </li>
          <li> <a class="lista" href="#airMax">Air Max AMO-5G13</a> </li>
          <li> <a class="home" href="/espanol">Volver a Home</a> </li>
        </center>
      </ul>
  </section>

  <div class="container-fluid">
    <br>
    <p class="auth"><strong>Autor:</strong> Betsy Fernández, 6 Marzo, 2021</p>
  </div>

  <section class="middle-container">
    <div id="omni" class="skill-row">
      <br>
      <hr><br>
      <h1>Antenas omnidireccionales</h1>
      <br>
      <p>Son antenas perfectas que sirven para crear puntos de acceso de Wifi en el exterior, estas cubren grandes zonas punto a punto pero sobre todo multipunto</p>
      <p>Los clientes se conectan a estas antenas direccionales de tipo Panel, Yagi, Grid etc</p>
      <p>Los puntos de acceso exterior más recomendados son Ubiquiti Bullet M2, Bullet M5, Rocket M2 etc.</p>
      <br>
      <h3>Cual es su función</h3>
      <br>
      <p>Una antena omnidireccional se caracteriza por irradiar potencia al espacio de manera uniforme y en todas las direcciones, con excepción de la antena isotrópica omnidireccional, que actúa en tres dimensiones.

        Esta antena es una construcción teórica que se emplea como referencia para calcular la ganancia de una antena. Otra de sus utilidades es calcular la potencia efectiva que radia en sistemas de radiofrecuencia, habitualmente emisores y
        receptores de telecomunicaciones.

        En la práctica, se entiende por antena omnidireccional a aquellas antenas que proporcionan una radiación uniforme en tan solo un plano de referencia. Convencionalmente, el plano de radiación uniforme es el plano paralelo a la superficie de la
        Tierra.</p>
    </div>
    <br>
    <hr>
    <div class="skill-row" id="tiposAnt">
      <img class="code-gif" src="images/code.gif" alt="">
      <h1>Tipos de antena omnidireccional</h1>
      <br><br><br><br>
      <h3 id="alfaNetwork">Alfa Network AOA-2458-59-TFL </h3>
      <br>
      <p>Alfa Network AOA-2458-59-TFL Antena Omnidireccional Dual-band 2.4GHz: 5dBi + 5GHz: 9dBi, Conector N Hembra
        Es una antena nueva doble banda de alta calidad con conector N-hembra, la ganancia es de 9 dBi para 5 GHz y 5 dBi para 2,4 GHz. Tiene una carcasa de fibra de vidrio resistente, esta gran antena se usa en embarcaciones y vehículos recreativos
      </p>
      <br>
      <h3>características
      </h3>
      <img src="css/imgs/Alfa Network AOA-2458-59-TFL.png" height="100" weight="100">
      <table class="table">
        <thead>

          <th> Frecuencia </th>
          <th> VSWR</th>
          <th>Ganancia</th>
          <th> Polarizacion</th>
          <th> Power Handling</th>
          <th> Impedancia</th>
          <th> Conector</th>
          <th> Modelo</th>
        </thead>
        <tbody>
          <td>2.4/5GHz dual band</td>
          <td>2.0</td>
          <td>9dBi(5 GHz),5dBi(2.4 Ghz)</td>
          <td> Vertical</td>
          <td>50Watts</td>
          <td> 50ohm</td>
          <td> N-hembra</td>
          <td>AOA-2458-59-TFL</td>

        </tbody>

      </table>
      <br>
      <h3 id="AntWifiOmni">Antena Wifi Omnidireccional 12dBi </h3>
      <br>
      <p>Muy buena antena para conectar a un Punto de Acceso y repartir la señal WiFi en todas las direcciones.
        También puedes conectarla a un Adaptador WiFi para recibir señal del exterior.</p>
      <br>
      <h3>características
      </h3>
      <img src="css/imgs/Antena Wifi Omnidireccional 12dBi.png" height="200" weight="200">
      <table class="table">
        <thead>

          <th> Frecuencia </th>
          <th> VSWR</th>
          <th>Ganancia</th>
          <th> Polarizacion</th>
          <th> Power Handling</th>
          <th> Impedancia</th>
          <th>Rango de apertura</th>
          <th> Conector</th>
          <th> Modelo</th>
        </thead>
        <tbody>
          <td>2.4GHz ~ 2.5GHz</td>
          <td>≦1.5</td>
          <td>12dBi</td>
          <td> Vertical</td>
          <td>50Ω</td>
          <td>360°/V:8°</td>
          <td> 50ohm</td>
          <td> N-hembra</td>
          <td>AOA-2412</td>
        </tbody>

      </table>
      <br>
      <h3 id="AntWifOmn">Antena Wifi Omnidireccional 8dBi Alfa Network </h3>
      <br>
      <p>MAntena para conectar a un Punto de Acceso y repartir la señal WiFi
        en todas las direcciones. Ideal para redes multipunto que requieren amplia cobertura.
        Dispone de conector N hembra. Diseñada para la frecuencia
        2,4GHz, da resultados sobresalientes en redes IEEE 802.11b/G WiFi. Muy fácil de instalar </p>
      <p>gracias a su escaso peso (unos 320g), ya que está fabricada en fibra de vidrio. Resistente a todo tipo de climas.
        Incluye abrazaderas para anclarla a un mástil de hasta 5cm</p>
      <br>
      <h3>características
      </h3>
      <img src="css/imgs/Antena Wifi Omnidireccional 8dBi.png" height="200" weight="200">
      <table class="table">
        <thead>

          <th> Frecuencia </th>
          <th> VSWR</th>
          <th>Ganancia</th>
          <th> Polarizacion</th>
          <th> Power Handling</th>
          <th> Impedancia</th>
          <th>Rango de apertura</th>
          <th> Conector</th>
          <th> Modelo</th>
        </thead>
        <tbody>
          <td>2.4-2.5Ghz</td>
          <td>≦1.5</td>
          <td>12dBi</td>
          <td> Vertical</td>
          <td>50Ω</td>
          <td>360°/V:8°</td>
          <td> 50ohm</td>
          <td> N-hembra</td>
          <td>AOA-2408</td>
        </tbody>

      </table>
      <br>
      <h3 id="intHor">Interline Horizon Antena Omnidireccional maxi 12dBi/2,4GHz</h3>
      <br>
      <p>Las antenas omnidireccionales Horizon son de las más famosas del mercado. Construidas meticulosamente,
        pequeñas, perfectas para aplicaciones de medio alcance usando un solo punto de acceso. En sitios donde
        haya un elevado número de redes, hay que prestar especial atención al elegir la antena apropiada,
        que no sea de mucha ganancia para que el punto de acceso no reciba señales no deseadas de otras redes. </p>
      <p>gracias a su escaso peso (unos 320g), ya que está fabricada en fibra de vidrio. Resistente a todo tipo de climas.
        Incluye abrazaderas para anclarla a un mástil de hasta 5cm</p>
      <p>Su construcción modular asegura el mejor funcionamiento en las condiciones meteorológicas más adversas.</p>
      <br>
      <img src="css/imgs/Interline Horizon Antena Omnidireccional maxi.png" height="200" weight="200">
      <h3>características
      </h3>
      <table class="table">
        <thead>

          <th> Frecuencia </th>
          <th> VSWR</th>
          <th>Ganancia</th>
          <th> Polarizacion</th>
          <th> Power Handling</th>
          <th> Impedancia</th>
          <th>Rango de apertura</th>
          <th> Conector</th>
          <th> Modelo</th>
        </thead>
        <tbody>
          <td>2400-2500MHz</td>
          <td>1.9</td>
          <td>12dBi</td>
          <td> Vertical</td>
          <td>50Ω</td>
          <td>360°/V:8°</td>
          <td> 50ohm</td>
          <td> N-hembra</td>
          <td>AOA-2408</td>
        </tbody>

      </table>
      <br>
      <h3 id="airMax">Airmax AMO-5G13 Omnidireccional</h3>
      <br>
      <p>Airmax AMO-5G13 Omnidireccional, 5GHz, 13dB
        Las Airmax Omnidireccionales son antenas profesionales diseñadas
        para funcionar con el dispositivo Rocket M5 de Ubiquiti.
        Solamente necesitas una antena Airmax Omni y un Rocket M5
        para crear una estación base de 360º de largo alcance.
        Estas antenas sólo funcionan con los dispositivos Rocket M5 de Ubiquiti Networks.
      </p>
      <br>
      <img src="css/imgs/Airmax AMO-5G13 Omnidireccional.png" height="200" weight="200">
      <h3>características
      </h3>
      <table class="table">
        <thead>

          <th> Frecuencia </th>
          <th> VSWR</th>
          <th>Ganancia</th>
          <th> Polarizacion</th>
          <th> Power Handling</th>
          <th> Impedancia</th>
          <th>Rango de apertura</th>
          <th> Conector</th>
          <th> Modelo</th>
        </thead>
        <tbody>
          <td>5,45-5,85GHz</td>
          <td>1.5:1</td>
          <td>13dBi</td>
          <td> 25dB min</td>
          <td>50Ω</td>
          <td>360°/V:8°</td>
          <td> 50ohm</td>
          <td> N-hembra</td>
          <td>AOA-2408</td>
        </tbody>
      </table>
      <p>Montaje:
        Kit de montaje para mástil, bracket para acoplar el Rocket.Incluye: -Antena Airmax
        Omni -Cable RF resistente a la intemperie -Kit de montaje para acoplar el Rocket -Kit de montaje universal para mástil</p>
    </div>

    </div>

    <br>
    <div class="skill-row" id="wifiAp">

    </div>
    </div>
    <br>
    <hr><br>
    <div id="autor" class="skill-row">
      <img class="img-victor" src="css/imgs/betsy.png" alt="Avatar">
      <h5>Betsy Fernández</h5>
      <p class="into">Estudiante de TI en la <a href="https://www.utn.ac.cr/" title="Página Universidad" style="color: green;"> UTN</a>, Costa Rica</p>
    </div>
  </section>

  <!---------- Bootstrap Script, Javascript and jQuery ----------->
  <script src="js/btnTop.js" charset="utf-8"></script>
  <script src="js/jquery-3.5.1.min.js" charset="utf-8"></script>
  <script src="js/bootstrap-4.5.bundle.min.js" charset="utf-8"></script>
</body>

</html>