<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Point to point</title>
  <!-------------- LOGO ---------------->
  <link rel="shortcut icon" href="css/imgs/logo.ico">

  <!-------------- Bootstrap Stylesheet ------------->
  <link rel="stylesheet" href="css/bootstrap-4.5.min.css">

  <link rel="stylesheet" href="/css/pages.css">

</head>

<body>

  <section id="wrapper" class="toggled">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <br>
        <center>
          <li class="sidebar-brand"><a class="enc1" href="#">Point-to-point antennas</a></li>
          <hr class="hrEnc">
          <li> <a class="lista" href="#IsoStationairMAXAC"> IsoStation airMAX AC</a> </li>
          <li> <a class="lista" href="#PuntosdeAceso">Access points</a> </li>
          <li> <a class="lista" href="#OSPF">OSPF Point-to-Point Networks</a></li>
          <li> <a class="lista" href="#Routeri">Router Ubiquiti</a> </li>
          <li> <a class="lista" href="#Flex">USW Flex Mini</a> </li>
          <li> <a class="lista" href="#EdgeSwitch16XG">EdgeSwitch 16 XG</a> </li>
          <li> <a class="lista" href="#UniFiDreamMachinePro">UniFi Dream Machine Pro</a> </li>
          <li> <a class="lista" href="#NanoSwitch">NanoSwitch </a> </li>
          <li> <a class="lista" href="#nano">NanoSwitch </a> </li>
          <li> <a class="home" href="/english">Return to Home</a> </li>
        </center>
      </ul>
    </div>
  </section>

  <div class="container-fluid">
    <br>
    <p class="auth"><strong>Author:</strong> Carolina Obando, March 6th, 2021</p>
  </div>
  <section class="middle-container">
    <div id="puntoApunto" class="skill-row">
      <br>
      <hr><br>
      <h1>Antenna for Point-to-Point connection </h1>
      <br>
      <h4>What are Point to Point</h4>
      <p> Point-to-Point antennas are used for links of large
        distances so it requires two nodes the receiver and the emitter
        at point 1 the network is received that will be sent to point 2 which will be
        the one that has the function either of station or simply of bridge
        since with this
        station options is to receive one network and convert it to another
        totally independent but related to point 1, instead the option
        bridge works to make a simple bridge or link between the point 1
        to the network of point 2 making an extension of the main network so it provides
        the configuration facilities or locks established in the routers programmed in the network 1
      </p>


      <center>
        <h3>Types of Antennas </h3>
        <img src="css/imgs/IsoStation airMAX AC.jpg" width="700" height="500" alt="">
      </center>
      <br><br>
      <h4 id="IsoStationairMAXAC">IsoStation airMAX AC</h4>
      <p> It is an asymmetric antenna (60 and 90) contains lateral luboli are very attenuated
        and very low radiation in the rear lobes, it offers an excellent front-to-back ratio.
        These antennas are symmetrical (30 and 45º) and are ideal to be installed in sectors with high location requirements.
      </p>
      <p> This horn type antenna is interchangeable and helps us to shape the beam for specific deployments and the needs of the environment. </p>
      <table class="center">
        <tr>
          <td> 450Mbps </td>
          <td> Speed </td>
        </tr>
        <tr>
          <td> 5GHz (5150–5875MHz) </td>
          <td> Frequency </td>
        </tr>
        <tr>
          <td> 45 Degree 14 dBi </td>
          <td> Symmetry </td>
        </tr>
        <tr>
          <td> improved noise immunity </td>
          <td> Yes </td>
        </tr>
        <tr>
          <td> 1 10/100 / 1000Mbps data port </td>
          <td> Ethernet </td>
        </tr>
        <tr>
          <td> 10/20/30/40/50/60/80 MHz </td>
          <td> Adjustable channel widths </td>
        </tr>
        <tr>
          <td> Atheros MIPS </td>
          <td> Processor </td>
        </tr>
        <tr>
          <td> WPA2 AES </td>
          <td> Strong security </td>
        </tr>
        <tr>
          <td> 24 V, 0.5 A </td>
          <td> Food </td>
        </tr>
        <tr>
          <td> 24V 0.5A Gigabit PoE </td>
          <td> Adapter </td>
        </tr>
      </table>
      <br><br><br>
      <center>
        <h4>LTU LR</h4>
        <img src="css/imgs/Antena0.1.png    " width="700" height="500" alt="">
      </center>

      <table class="center">
        <tr>
          <td> 600 + Mbps </td>
          <td> Speed </td>
        </tr>
        <tr>
          <td> US / CAU-NII-1U-NII-2AU-NII-2CU-NII-35150 - 52505250 - 53505470 - 57255725 - 5850 </td>
          <td> Frequency </td>
        </tr>
        <tr>
          <td> 26 dB </td>
          <td> Symmetry </td>
        </tr>
        <tr>
          <td> improved noise immunity </td>
          <td> Yes </td>
        </tr>
        <tr>
          <td> (1) 10/100/1000 Ethernet Ports </td>
          <td> Ethernet </td>
        </tr>
        <tr>
          <td> 10/20/30/40/50 MHz </td>
          <td> Adjustable channel widths </td>
        </tr>
        <tr>
          <td> Atheros MIPS </td>
          <td> Processor </td>
        </tr>
        <tr>
          <td> WPA2 AES </td>
          <td> Strong security </td>
        </tr>
        <tr>
          <td> 24 V, 0.5 A </td>
          <td> Food </td>
        </tr>
        <tr>
          <td> 24V 0.5A Gigabit PoE </td>
          <td> Adapter </td>
        </tr>
      </table>
      <center>
        <h4>LTU Lite</h4>
        <img src="css/imgs/LTU-LITE-2.png" width="700" height="500" alt="">
      </center>
      <p> Features </p>
      <p> PtMP CPE </p>
      <p> 1024 QAM </p>
      <p> 10/20/30/40/50 MHz channel bandwidth </p>
      <p> Central configuration management from the AP side </p>
      <p> Frequency division </p>
      <p> Automatic power adjustments </p>
      <p> Router mode support </p>
      <p> Works in a PtMP environment with LTU-Rocket as base station </p>

      <center>
        <h4>LTU Pro</h4>
        <img src="css/imgs/LTU Pro.webp" width="700" height="500" alt="">
      </center>
      <p> Features </p>
      <p> PtMP CPE </p>
      <p> 1024 QAM </p>
      <p> 10/20/30/40/50 MHz channel bandwidth </p>
      <p> Central configuration management from the AP side </p>
      <p> Frequency division </p>
      <p> Automatic power adjustments </p>
      <p> Router mode support </p>
      <p> Works in a PtMP environment with LTU-Rocket as base station </p>
      <center>
        <h4>Enrutador Wi-Fi UFiber GPON</h4>
        <img src="css/imgs/Wi-Fi UFiber.png" width="700" height="500" alt="">
      </center>
      <p> Features </p>
      <p> High performance GPON CPE </p>
      <p> Supports GPON links up to 20 km </p>
      <p> Powerful Layer 2/3 management features </p>
      <p> (1) GPON WAN port </p>
      <p> (4) RJ45 Gigabit LAN port </p>
      <p> Powered via supplied power supply or passive PoE </p>
      <p> WiFi 802.11n with internal antennas </p>

    </div>
    <br>
    <hr>
    <br>
    <div class="skill-row" id="PuntosdeAceso">
      <h1>Access points</h1>
      <br>
      <img src="css/imgs/AP.jpg" width="700" height="500" alt="">
      <center>
        <p> These devices allow you to connect two access points. It is understood by
          Multipoint to the ability to make connections with several nodes of a network. </p>
        <p> Our router communicates with two access points. Before setting up the
          Multipoint router, you have to enable the other two points as a bridge and point-to-point towards the router. </p>
        <p>
          Once finished, the MAC address of the router and the other access points are copied using the address 192.168.1.1 in the browser of your choice. Then the LAN IP of the router is changed, the changes are saved, restart and return to
          enter with the new IP address.
        </p>
        <p>
          To change the router to a multipoint configuration, within the router's web application look for the Wireless option or similar (it depends on the router model) we locate the Point to multi-Point option, then mark or select in the box
          Mac addresses, you enter the access point addresses which you want to communicate with the Point to Multipoint configuration.
        </p>
      </center>
    </div>
    <br>
    <hr><br>
    <div class="skill-row" id="OSPF">
      <h1>OSPF Point-to-Point Networks</h1>
      <br>
      <center>
        <img src="css/imgs/OSPF.png" width="500" height="500" style="border-radius: 0%;">
        <p> This image defines 5 types of router </p>
        <p> Point to Point: Two routers connected through a link (WAN). </p>
        <p> Broadcast Multiaccess: Several routers connected to an Ethernet network </p>
        <p> Non-Broadcast Multi-Access (NMBA): Several routers interconnected in a network that does not allow broadcast transmission. </p>
        <p> Point to Multipoint: Several routers interconnected in a hub-and-spoke topology through an NBMA network. </p>
        <p> Virtual Links: An OSPF network is used to interconnect different areas and backbone. </p>
        <br> <br>
        <p> The parasitic element can be a reflector or director that defines the maximum radiation direction,
          while the active element is a ½ wave dipole. The simplest Yagi antenna consists of 3 elements.
          For the VHF and UHF bands, this type of antenna uses 30 There is a reflector and several directors between them.
        </p>
        <p>
          Due to its simplicity and relatively large bandwidth, Yagi-Uda antennas
          are widely used in broadcast television applications, amateur radio stations
          and they have been used in other types of services in recent years, such as point radio links.
          Some yagis with frequencies above 1.5 GHz require the use of covers to protect against rainwater.
        </p>
      </center>
    </div>
    <br>
    <hr><br>
    <div class="skill-row" id="Routeri">
      <h1>Router Ubiquiti</h1>
      <br>
      <center>
        <h4>EdgeRouter 12</h4>
        <img src="css/imgs/EdgeRouter 12.png" width="500" height="500" alt="">
        <table class="center">
          <tr>
            <td> 268.1x136.5x31.1mm </td>
            <td> Dimensions </td>
          </tr>
          <tr>
            <td> 20W </td>
            <td> Max. power consumption </td>
          </tr>
          <tr>
            <td> 1GHz 4-core 4MIPS64 </td>
            <td> Processor </td>
          </tr>
          <tr>
            <td> 1GB DDR3 RAM </td>
            <td> System memory </td>
          </tr>
          <tr>
            <td> 4GB EMMC, 8MB SPI NOR </td>
            <td> Integrated flash storage </td>
          </tr>
          <tr>
            <td> (1) RJ45 serial port, (10) Ethernet ports (default port 0)
              (10) 10/100/1000 RJ45 ports
              Port 0 supports PoE IN;
              Port 9 supports PoE output
              (2) 1 Gbps SFP ports
            </td>
            <td> Interface management networks </td>
          </tr>
          <tr>
            <td> Atheros MIPS </td>
            <td> Processor </td>
          </tr>
          <tr>
            <td> WPA2 AES </td>
            <td> Strong security </td>
          </tr>
          <tr>
            <td> 24 V, 0.5 A </td>
            <td> Food </td>
          </tr>
          <tr>
            <td> 24V 0.5A Gigabit PoE </td>
            <td> Adapter </td>
          </tr>
        </table>
      </center>
    </div>
    <br>
    <hr><br>
    <h2>SWITCH</h2>
    <div class="skill-row" id="Flex">
      <h1>USW Flex Mini</h1>
      <br>
      <center>
        <img src="css/imgs/USW Flex Mini.png" width="500" height="500" alt="">
        <p>
          5 ports powered by 802.3af / at PoE or 5V, 1A USB-C power adapter.
          The UniFi Switch, model USW-Flex-Mini, is an intelligently managed Gigabit switch. 5 RJ45 Ethernet ports, providing 1 Gigabit links to your devices.
          Power on the USW-Flex-Mini with the included USB Type-C power adapter or with 802.3af PoE Ethernet on port 1.
        </p>
        <p> Managed by UniFi Network Controller Version: 5.12.5 or higher </p>
        <p> Works with UniFi Network Controller </p>
        <p> Manage your networks from a single interface </p>
        <p> Enjoy intuitive configuration options, as well as robust device monitoring and control. </p>
        <p> Update device firmware remotely. </p>
        <p> Easily manage network users and guests. </p>
        <p> Customize the design, architecture and privacy of guest access points. </p>
      </center>
    </div>
    <br>
    <hr><br>
    <div class="skill-row" id="EdgeSwitch16XG">
      <h1>EdgeSwitch 16 XG</h1>
      <br>
      <center>
        <img src="css/imgs/EdgeSwitch 16 XG.png" width="500" height="500" alt="">
        <p> Features </p>
        for
        <p> (12) SFP + ports </p>
        <p> (4) 10G RJ45 ports </p>
        <P> (1) RJ45 serial console port </P>
        <p> Non-blocking performance: 160 Gbps </p>
        <p> Switching capacity: 320 Gbps </p>
        <p> Forwarding rate: 238.10 Mpps </p>
        <p> Rack mount with rack mount brackets (included) </p>
        <p> DC input option (redundant or independent) </p>
      </center>
    </div>
    <br>
    <hr><br>
    <div class="skill-row" id="UniFiDreamMachinePro">
      <h1>UniFi Dream Machine Pro </h1>
      <br>
      <img src="css/imgs/UniFi Dream Machine Pro.png" width="500" height="500" alt="">
      <center>
        <p> 1U all-in-one rack appliance for small and medium businesses </p>
        <p> Combines the new UniFi operating system with 8-port switch and security gateway </p>
        <p> UniFi Protect video surveillance NVR with 3.5 "HDD support available on the market </p>
        <p> 8-port Gigabit switch with 1 Gbps RJ45 and 10G SFP + LAN </p>
        <p> Enterprise-class IPS / IDS, DPI and Wi-Fi capabilities </p>
        <p> Powered by a fast 1.7 GHz quad-core processor </p>
        <br><br>
      </center>
    </div>
    <br>
    <hr><br>
    <div class="skill-row" id="NanoSwitch">
      <h1>NanoSwitch</h1>
      <img src="css/imgs/nano.png" width="500" height="500" alt="">
      <br>
      <center>
        <p> Features </p>
        <br> <br>
        <p> (1) 24V Gigabit passive PoE input port </p>
        <p> (3) 24V Gigabit passive PoE output ports </p>
        <p> Outdoor weatherproof enclosure </p>
        <p> RTL8367N-VB processor </p>
        <p> Built-in 4Kbits flash storage </p>
        <p> Total non-blocking line rate 4Gbps </p>
        <p> TYP. Power consumption 1.5 W </p>
        <p> Power method 24V passive PoE input </p>
        <p> Network interfaces (4) 10/100/1000 Mbps Ethernet RJ45 </p>
        <p> PoE interfaces 24V passive PoE input </p>
        <p> Maximum PoE + wattage per port per PSE 24V at 1A per port / Total 24V at 1.5A for three ports </p>

      </center>
    </div>
    <br>
    <hr><br>
    <div id="autor" class="skill-row">
      <img class="img-susan" src="css/imgs/carolina.png" alt="Victor">
      <h5>Carolina Obando Pérez</h5>
      <p class="into">IT Student at <a href="https://www.utn.ac.cr/" title="Página Universidad" style="color: green;"> UTN</a>, Costa Rica</p>
    </div>
  </section>

  <!---------- Bootstrap Script, Javascript and jQuery ----------->
  <script src="js/btnTop.js" charset="utf-8"></script>
  <script src="js/bootstrap-4.5.bundle.min.js" charset="utf-8"></script>
</body>

</html>