<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Punto a punto</title>
  <!-------------- LOGO ---------------->
  <link rel="shortcut icon" href="css/imgs/logo.ico">

  <!-------------- Bootstrap Stylesheet ------------->
  <link rel="stylesheet" href="css/bootstrap-4.5.min.css">

  <link rel="stylesheet" href="/css/pages.css">

</head>

<body>

  <section id="wrapper" class="toggled">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <br>
        <center>
          <li class="sidebar-brand"><a class="enc1" href="#">Antenas punto a punto</a></li>
          <hr class="hrEnc">
          <li> <a class="lista" href="#IsoStationairMAXAC"> IsoStation airMAX AC</a> </li>
          <li> <a class="lista" href="#PuntosdeAceso">Puntos de Aceso</a> </li>
          <li> <a class="lista" href="#OSPF">Redes OSPF Punto a Punto</a></li>
          <li> <a class="lista" href="#Routeri">Router Ubiquiti</a> </li>
          <li> <a class="lista" href="#Flex">USW Flex Mini</a> </li>
          <li> <a class="lista" href="#EdgeSwitch16XG">EdgeSwitch 16 XG</a> </li>
          <li> <a class="lista" href="#UniFiDreamMachinePro">UniFi Dream Machine Pro</a> </li>
          <li> <a class="lista" href="#NanoSwitch">NanoSwitch </a> </li>
          <li> <a class="home" href="/espanol">Volver a Home</a> </li>
        </center>
      </ul>
    </div>
  </section>

  <div class="container-fluid">
    <br>
    <p class="auth"><strong>Autor:</strong> Carolina Obando, 6 Marzo, 2021</p>
  </div>
  <section class="middle-container">
    <div id="puntoApunto" class="skill-row">
      <br>
      <hr><br>
      <h1>Antena para conexión Punto a Punto </h1>
      <br>
      <h4>Que son lo Punto a Punto</h4>
      <p> Las antenas Punto a Punto son utilizadas para los enlaces de grandes
        distancias por lo que se requiere dos nodos el receptor y el emisor
        en el punto 1 se recibe la red que se mandara a la punto 2 que será
        el que tenga la función ya sea de estación o simplemente de puente
        ya que con esta
        las opciones de estación es para recibir una red y convertirla en otra
        total mente independiendo pero relacionada al punto 1, en cambio la opción
        de puente funciona para hacer un simple puente o enlace entre los el punto 1
        a el red del punto 2 haciendo una extensión de la red principal por lo que brinda
        las facilidades de configuración o bloqueos establecidos en los enrutadores programados en la red 1
      </p>


      <center>
        <h3>Tipos de Antenas </h3>
        <img src="css/imgs/IsoStation airMAX AC.jpg" width="700" height="500" alt="">
      </center>
      <br><br>
      <h4 id="IsoStationairMAXAC">IsoStation airMAX AC</h4>
      <p>Es una antena asimétrica (60 y 90) contiene lubolos laterales son muy atenuados
        y muy baja radiación en lóbulos traseros, ofrece un excelente front-to-back ratio.
        Estas antenas son simétricas (30 y 45º) son ideales para instalarse en sectores con altos requisitos de ubicación.
      </p>
      <p>Esta antena es tipo horn es intercambiable y nos ayuda a conformar el haz para despliegues específicos y las necesidades del entorno.</p>
      <table class="center">
        <tr>
          <td>450Mbps</td>
          <td>Velocidad</td>
        </tr>
        <tr>
          <td>5GHz(5150–5875MHz)</td>
          <td>Frecuencia</td>
        </tr>
        <tr>
          <td>45 Grados de 14 dBi</td>
          <td>Simetria</td>
        </tr>
        <tr>
          <td>inmunidad al ruido mejorada</td>
          <td>Si</td>
        </tr>
        <tr>
          <td>1 puerto de datos 10/100/1000Mbps</td>
          <td>Ethernet</td>
        </tr>
        <tr>
          <td>10/20/30/40/50/60/80 MHz</td>
          <td>Anchos de canal ajustable</td>
        </tr>
        <tr>
          <td>Atheros MIPS</td>
          <td>Procesador </td>
        </tr>
        <tr>
          <td>WPA2 AES</td>
          <td>Fuerte seguridad</td>
        </tr>
        <tr>
          <td>24 V, 0.5 A</td>
          <td>Alimentación</td>
        </tr>
        <tr>
          <td>PoE Gigabit 24 V 0.5 A</td>
          <td>Adaptador</td>
        </tr>
      </table>
      <br><br><br>
      <center>
        <h4>LTU LR</h4>
        <img src="css/imgs/Antena0.1.png    " width="700" height="500" alt="">
      </center>

      <table class="center">
        <tr>
          <td>600+Mbps</td>
          <td>Velocidad</td>
        </tr>
        <tr>
          <td>US/CAU-NII-1U-NII-2AU-NII-2CU-NII-35150 - 52505250 - 53505470 - 57255725 - 5850</td>
          <td>Frecuencia</td>
        </tr>
        <tr>
          <td>26 dB</td>
          <td>Simetria</td>
        </tr>
        <tr>
          <td>inmunidad al ruido mejorada</td>
          <td>Si</td>
        </tr>
        <tr>
          <td>(1) 10/100/1000 Ethernet Ports</td>
          <td>Ethernet</td>
        </tr>
        <tr>
          <td>10/20/30/40/50 MHz</td>
          <td>Anchos de canal ajustable</td>
        </tr>
        <tr>
          <td>Atheros MIPS</td>
          <td>Procesador </td>
        </tr>
        <tr>
          <td>WPA2 AES</td>
          <td>Fuerte seguridad</td>
        </tr>
        <tr>
          <td>24 V, 0.5 A</td>
          <td>Alimentación</td>
        </tr>
        <tr>
          <td>PoE Gigabit 24 V 0.5 A</td>
          <td>Adaptador</td>
        </tr>
      </table>
      <center>
        <h4>LTU Lite</h4>
        <img src="css/imgs/LTU-LITE-2.png" width="700" height="500" alt="">
      </center>
      <p>Características </p>
      <p>PtMP CPE</p>
      <p>1024 QAM</p>
      <p>Ancho de banda de canal de 10/20/30/40/50 MHz</p>
      <p>Gestión de configuración central desde el lado del AP</p>
      <p>División de frecuencia </p>
      <p>Ajustes automáticos de potencia</p>
      <p>Soporte de modo de enrutador</p>
      <p>Funciona en un entorno PtMP con LTU-Rocket como estación base</p>

      <center>
        <h4>LTU Pro</h4>
        <img src="css/imgs/LTU Pro.webp" width="700" height="500" alt="">
      </center>
      <p>Características </p>
      <p>PtMP CPE</p>
      <p>1024 QAM</p>
      <p>Ancho de banda de canal de 10/20/30/40/50 MHz</p>
      <p>Gestión de configuración central desde el lado del AP</p>
      <p>División de frecuencia </p>
      <p>Ajustes automáticos de potencia</p>
      <p>Soporte de modo de enrutador</p>
      <p>Funciona en un entorno PtMP con LTU-Rocket como estación base</p>
      <center>
        <h4>Enrutador Wi-Fi UFiber GPON</h4>
        <img src="css/imgs/Wi-Fi UFiber.png" width="700" height="500" alt="">
      </center>
      <p>Características </p>
      <p>GPON CPE de alto rendimiento</p>
      <p>Admite enlaces GPON de hasta 20 km</p>
      <p>Potentes funciones de gestión de capa 2/3</p>
      <p>(1) Puerto GPON WAN</p>
      <p>(4) Puerto LAN Gigabit RJ45</p>
      <p>Alimentado a través de la fuente de alimentación suministrada o PoE pasivo</p>
      <p>WiFi 802.11n con antenas internas</p>

    </div>
    <br>
    <hr>
    <br>
    <div class="skill-row" id="PuntosdeAceso">
      <h1>Puntos de Aceso</h1>
      <br>
      <img src="css/imgs/AP.jpg" width="700" height="500" alt="">
      <center>
        <p>Estos dispositivos permiten conectar dos puntos de acceso. Se entiende por
          Multipunto a la capacidad de realizar conexiones con varios nodos de una red.</p>
        <p>Nuestro router se comunica con dos puntos de acceso. Antes de configurar el
          router multipunto, hay que habilitar los otros dos puntos como puente y punto a punto hacia el router. </p>
        <p>
          Una vez terminado se copilan la dirección MAC del router y los otros puntos de acceso utilizando la dirección 192.168.1.1 en el browser de tu preferencia. Luego se cambia la IP LAN del router, se guardan los cambios, reinicia y vuelves a
          ingresar con la nueva dirección IP.
        </p>
        <p>
          Para cambiar el router a una configuración multipunto, dentro de la aplicación web del router busca la opción Wireless o parecida (depende del modelo del router) ubicamos la opción Point to multi-Point, luego marcas o selecciona en la caja
          direcciones Mac, colocas las direcciones de punto de acceso la cual dese comunicarte con la configuración Punto a Multipunto.
        </p>
      </center>
    </div>
    <br>
    <hr><br>
    <div class="skill-row" id="OSPF">
      <h1>Redes OSPF Punto a Punto</h1>
      <br>
      <center>
        <img src="css/imgs/OSPF.png" width="500" height="500" style="border-radius: 0%;">
        <p>Esta imagen define 5 tipos de router</p>
        <p>Punto a Punto:Dos router conectados por medio de un enlace (WAN).</p>
        <p>Multiacceso Con Difusión: Varios router conectados a una red Ethernet</p>
        <p>Multiacceso Sin Difusión (NMBA):Varios router interconectados en una red que no permite transmisión por difusión.</p>
        <p>Punto a Multipunto:Varios router interconectados en una topología hub-and-spoke por medio de una red NBMA.</p>
        <p>Enlaces Virtuales: Una red OSPF se usa para interconectar áreas distintas y red troncal.</p>
        <br><br>
        <p>El elemento parásito puede ser un reflector o director que define la máxima dirección de radiación,
          mientras que el elemento activo es un dipolo de ½ onda. La antena Yagi más simple consta de 3 elementos.
          Para las bandas de VHF y UHF, este tipo de antena utiliza 30 Hay una reflector y varios directores entre ellos.
        </p>
        <p>
          Debido a su simplicidad y ancho de banda relativamente grande, las antenas Yagi-Uda
          se utilizan ampliamente en aplicaciones de transmisión de televisión, estaciones de radioaficionados
          y se han utilizado en otros tipos de servicios en los últimos años, como enlaces de radio puntuales.
          Algunas yagis de frecuencias por encima de 1.5 GHz necesitan el uso de cubiertas, para protección del agua de lluvia.
        </p>
      </center>
    </div>
    <br>
    <hr><br>
    <div class="skill-row" id="Routeri">
      <h1>Router Ubiquiti</h1>
      <br>
      <center>
        <h4>EdgeRouter 12</h4>
        <img src="css/imgs/EdgeRouter 12.png" width="500" height="500" alt="">
        <table class="center">
          <tr>
            <td>268,1x136,5x31,1mm</td>
            <td>Dimensiones</td>
          </tr>
          <tr>
            <td>20W</td>
            <td>Max.El consumo de energía</td>
          </tr>
          <tr>
            <td>4MIPS64 de 4 núcleos a 1 GHz</td>
            <td>Procesador</td>
          </tr>
          <tr>
            <td>1 GB de RAM DDR3</td>
            <td>Memoria del sistema</td>
          </tr>
          <tr>
            <td>EMMC de 4 GB, SPI NOR de 8 MB</td>
            <td>Almacenamiento flash integrado</td>
          </tr>
          <tr>
            <td>(1) puerto serie RJ45, (10) puertos Ethernet (puerto predeterminado 0)
              (10) puertos RJ45 10/100/1000
              Puerto 0 compatible con PoE IN;
              El puerto 9 admite salida PoE
              (2) puertos SFP de 1 Gbps
            </td>
            <td>Redes de gestión de interfaces</td>
          </tr>
          <tr>
            <td>Atheros MIPS</td>
            <td>Procesador </td>
          </tr>
          <tr>
            <td>WPA2 AES</td>
            <td>Fuerte seguridad</td>
          </tr>
          <tr>
            <td>24 V, 0.5 A</td>
            <td>Alimentación</td>
          </tr>
          <tr>
            <td>PoE Gigabit 24 V 0.5 A</td>
            <td>Adaptador</td>
          </tr>
        </table>
      </center>
    </div>
    <br>
    <hr><br>
    <h2>SWITCH</h2>
    <div class="skill-row" id="Flex">
      <h1>USW Flex Mini</h1>
      <br>
      <center>
        <img src="css/imgs/USW Flex Mini.png" width="500" height="500" alt="">
        <p>
          5puertos alimentado por 802.3af / at PoE o adaptador de corriente USB-C de 5V, 1A.
          El UniFi Switch, modelo USW-Flex-Mini, es un conmutador Gigabit gestionado de forma inteligente. 5 puertos Ethernet RJ45, que proporcionan enlaces de 1 Gigabit a sus dispositivos.
          Encienda el USW-Flex-Mini con el adaptador de corriente USB Type-C incluido o con 802.3af PoE Ethernet en el puerto 1.
        </p>
        <p>Gestionado por la versión del controlador de red UniFi: 5.12.5 o superior</p>
        <p>Funciona con el controlador de red UniFi</p>
        <p>Administre sus redes desde una única interfaz</p>
        <p>Disfrute de opciones de configuración intuitivas, así como de un sólido control y supervisión de dispositivos.</p>
        <p>Actualice el firmware del dispositivo de forma remota.</p>
        <p>Administre fácilmente los usuarios e invitados de la red.</p>
        <p>Personalice el diseño, la arquitectura y la privacidad de los puntos de acceso de los huéspedes.</p>
      </center>
    </div>
    <br>
    <hr><br>
    <div class="skill-row" id="EdgeSwitch16XG">
      <h1>EdgeSwitch 16 XG</h1>
      <br>
      <center>
        <img src="css/imgs/EdgeSwitch 16 XG.png" width="500" height="500" alt="">
        <p>Características</p>
        <br>
        <p>(12) puertos SFP + </p>
        <p>(4) puertos RJ45 10G</p>
        <P>(1) Puerto de consola serie RJ45</P>
        <p>Rendimiento sin bloqueo: 160 Gbps</p>
        <p>Capacidad de conmutación: 320 Gbps</p>
        <p>Tasa de reenvío: 238,10 Mpps</p>
        <p>Montaje en bastidor con soportes de montaje en bastidor (incluidos)</p>
        <p>Opción de entrada de CC (redundante o independiente)</p>
      </center>
    </div>
    <br>
    <hr><br>
    <div class="skill-row" id="UniFiDreamMachinePro">
      <h1>UniFi Dream Machine Pro </h1>
      <br>
      <img src="css/imgs/UniFi Dream Machine Pro.png" width="500" height="500" alt="">
      <center>
        <p>Dispositivo de rack 1U todo en uno para pequeñas y medianas empresas</p>
        <p>Combina el nuevo sistema operativo UniFi con conmutador de 8 puertos y puerta de enlace de seguridad</p>
        <p>NVR de videovigilancia UniFi Protect con soporte para HDD de 3,5 "disponible en el mercado</p>
        <p>Switch Gigabit de 8 puertos con 1 Gbps RJ45 y 10G SFP + LAN</p>
        <p>Capacidades IPS / IDS, DPI y Wi-Fi de clase empresarial</p>
        <p>Alimentado por un rápido procesador de cuatro núcleos a 1,7 GHz</p>
        <br><br>
      </center>
    </div>
    <br>
    <hr><br>
    <div class="skill-row" id="NanoSwitch">
      <h1>NanoSwitch</h1>
      <img src="css/imgs/nano.png" width="500" height="500" alt="">
      <br>
      <center>
        <p>Características</p>
        <br><br>
        <p>(1) puerto de entrada PoE pasivo Gigabit de 24 V</p>
        <p>(3) Puertos de salida PoE pasivos Gigabit de 24 V</p>
        <p>Recinto exterior resistente a la intemperie</p>
        <p>Procesador RTL8367N-VB</p>
        <p>Almacenamiento flash integrado 4Kbits</p>
        <p>Tasa total de línea sin bloqueo 4Gbps</p>
        <p>TYP. El consumo de energía 1,5 W</p>
        <p>Método de energía Entrada PoE pasiva de 24 V</p>
        <p>Interfaces de red (4) Ethernet RJ45 de 10/100/1000 Mbps</p>
        <p>Interfaces PoE Entrada PoE pasiva de 24 V</p>
        <p>Vataje máximo de PoE + por puerto por PSE 24 V a 1 A por puerto / Total 24 V a 1,5 A para tres puertos</p>

      </center>
    </div>
    <br>
    <hr><br>
    <div id="autor" class="skill-row">
      <img class="img-susan" src="css/imgs/carolina.png" alt="Victor">
      <p class="auth"><strong>Autor:</strong> Carolina Obando, 6 Marzo, 2021</p>
      <p class="into">Estudiante de TI en la <a href="https://www.utn.ac.cr/" title="Página Universidad" style="color: green;"> UTN</a>, Costa Rica</p>
    </div>
  </section>

  <!---------- Bootstrap Script, Javascript and jQuery ----------->
  <script src="js/btnTop.js" charset="utf-8"></script>
  <script src="js/bootstrap-4.5.bundle.min.js" charset="utf-8"></script>
</body>

</html>