<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Servidores</title>
  <!-------------- LOGO ---------------->
  <link rel="shortcut icon" href="css/imgs/logo.ico">

  <!-------------- Bootstrap Stylesheet ------------->
  <link rel="stylesheet" href="css/bootstrap-4.5.min.css">

  <link rel="stylesheet" href="/css/pages.css">

</head>

<body>

  <section id="wrapper" class="toggled">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <center>
          <br>
          <li class="sidebar-brand"><a class="enc" href="#servidores">Servidores</a></li>
          <hr class="hrEnc">
          <li> <a class="lista" href="#uas-xg">UAS-XG</a> </li>
          <li> <a class="lista" href="#uck-g2">UCK-G2</a> </li>
          <li> <a class="home" href="/espanol">Volver a Home</a> </li>
        </center>
      </ul>
  </section>

  <div class="container-fluid">
    <br>
    <p class="auth"><strong>Autor:</strong> Johel González, 6 Marzo, 2021</p>
  </div>

  <section class="middle-container">
    <div id="servidores" class="skill-row">
      <br>
      <hr><br>
      <h1>Servidores </h1>
      <br><br>
      <h3>Que son los servidores de red </h3>
      <p>Los servidores de red son usados tanto como para almacenar datos
        importantes como para manejar equipos sensibles o Usar un sistema
        operativo en red para todo el apartado de clientes que trabajan en
        las instalaciones, en este caso hablaremos de los servidores que
        administran una red tanto una red MAN como una red local.
        En el mercado hay muchas marcas de servidores de red o de servicios
        de manejo de red como lo es mikrotik, Ubiquiti, Cisco, Dell, pero muchos
        de ellos tienen una complejidad que no cualquier persona podría hacer la
        configuración optima sin saber de redes o si programación.
      </p>
      <p>En este caso hablaremos de los servidores que
        nos proporciona la empresa UBIQUITI son uno de los
        mejores en el mercado para administrar las redes tanto
        como de sus equipos de red como de cualquier otro dispositivo
        conectado a uno de ellos, gracias a estos servidores de red podemos
        controlar el flujo de la red tanto de lo que entra como de lo que sale
        de ella, podemos hacer bloqueos parentales con solo una palabra de similitud o tan simple como conocer
        la URL a la que se desea banear de tu red son redes muy seguras gracias al cifrado que nos proporciona la compañía </p>
      <br>

    </div>
    <br>
    <hr>
    <div class="skill-row" id="tiposServ">
      <img class="code-gif" src="images/code.gif" alt="">
      <h1 id="uas-xg">Servidor Ubiquiti UAS-XG </h1>
      <br><br><br><br>
      <br>
      <p>El servidor de aplicaciones UniFi, modelo UAS-XG, es un servidor basado en Ubuntu
        capaz de ejecutar de forma segura todas sus aplicaciones comerciales. Integra el
        software UniFi y UniFi Video para la administración centralizada de sus dispositivos UniFi.
        El servidor de aplicaciones UniFi cuenta con un SSD rápido de 120 GB para el sistema operativo y
        las aplicaciones, así como una unidad mecánica de 8 TB para el almacenamiento masivo de grabaciones
        de video y otros datos. Un procesador Intel Xeon-D de potencia optimizada con memoria DDR4 de 16 GB
        proporciona un rendimiento confiable. Los puertos
        Ethernet 10G dobles garantizan una conectividad de alto ancho de banda para las aplicaciones de servidor más exigentes.</p>
      <br>
      <img src="css/imgs/SERVIDOR UBIQUITI UAS-XG.png" width="500" height="500" alt="">
      <h3>Caraceteristicas</h3>
      <table class="table">
        <thead>
          <th> Almacenamiento</th>
          <th>Procesador</th>
          <th> Memoria</th>
          <th>Puertos Ethernet</th>
          <th> Sistema </th>
        </thead>
        <tbody>
          <td>120GB SSD Y 8TB</td>
          <td>Intel Xeon-D </td>
          <td>DDR4 16GB </td>
          <td>10G dobles</td>
          <td>Ubuntu </td>

        </tbody>
      </table>
    </div>
    <br>
    <hr>
    <div class="skill-row" id="wifiAp">
      <img class="language-gif" src="images/languages.gif" alt="">
      <br><br><br><br>
      <h3 id="uck-g2">Ubiquiti UCK-G2-PLUS </h3>
      <br>
      <p>UniFi Controlador con Hybrid Cloud El UniFi Cloud Key Gen2 Plus es
        un controlador de hardware integrado y un servidor de aplicaciones
        autónomo diseñado para monitorear y administrar sus dispositivos de red UniFi
        y su sistema de vigilancia por cámara. Cuenta con un procesador de ocho núcleos
        con 3 GB de RAM, una unidad de disco duro SATA de 1 TB para almacenamiento de video
        y 32 GB de almacenamiento flash eMMC, y utiliza la última versión del controlador
        UniFi con tecnología de nube híbrida. Totalmente capaz de configurar y administrar
        docenas de dispositivos UniFi en su red, y ofrece un reemplazo de PoE de energía ultra
        baja para un servidor o computadora dedicada, prácticamente sin huella digital. Tecnología
        de nube híbrida.</p><br>
      <img src="css/imgs/Ubiquiti UCK-G2-PLUS.png" width="500" height="500" alt="">
      <p>La configuración de nube híbrida de Ubiquiti® proporciona
        un SSO privado y seguro (Inicio de sesión único) para acceder
        a todas sus implementaciones de UniFi desde cualquier parte del
        mundo. Con la nube híbrida de Ubiquiti, no se requiere un servicio
        de nube alojado por terceros, por lo que todos sus datos personales y
        la información de la red permanecen locales y seguros, como debe ser.
        Increíble, escalabilidad ágil Agregue, aprovisione, configure, monitoree
        y administre Todos sus dispositivos UniFi, ya sea en una o cientos de redes
        privadas, todo desde un panel de control centralizado. Fácilmente accesible
        a través de una de nuestras aplicaciones descargables o un navegador web estándar
        (se recomienda Chrome), UniFi Cloud Key Gen2 Plus es una solución poderosa para
        administrar sus redes UniFi en todo el campus o en todo el mundo.</p><br>

      <br>

    </div>
    </div>
    <br>
    <hr><br>
    <div id="autor" class="skill-row">
      <img class="img-johel" src="css/imgs/johel.png" alt="Johel">
      <h5>Johel González Siles</h5>
      <p class="into">Estudiante de TI en la <a href="https://www.utn.ac.cr/" title="Página Universidad" style="color: green;"> UTN</a>, Costa Rica</p>
    </div>
  </section>

  <!---------- Bootstrap Script, Javascript and jQuery ----------->
  <script src="js/btnTop.js" charset="utf-8"></script>
  <script src="js/jquery-3.5.1.min.js" charset="utf-8"></script>
  <script src="js/bootstrap-4.5.bundle.min.js" charset="utf-8"></script>
</body>

</html>