<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Software</title>
  <!-------------- LOGO ---------------->
  <link rel="shortcut icon" href="css/imgs/logo.ico">

  <!-------------- Bootstrap Stylesheet ------------->
  <link rel="stylesheet" href="css/bootstrap-4.5.min.css">

  <link rel="stylesheet" href="/css/pages.css">

</head>

<body>
  <section id="wrapper" class="toggled">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <center>
          <br>
          <li class="sidebar-brand"><a class="enc" href="#software">Software</a></li>
          <hr class="hrEnc">
          <li> <a class="lista" href="#unms">UNMS</a> </li>
          <li> <a class="lista" href="#airlink">Airlink</a> </li>
          <br><br>
          <li> <a class="home" href="/english">Return to Home</a> </li>
        </center>
      </ul>
    </div>
  </section>
  <div class="container-fluid">
    <br>
    <p class="auth"><strong>Author:</strong> Johel González, March 6th, 2021</p>
  </div>
  <section class="middle-container">
    <div id="software" class="skill-row">
      <img src="images/victor.png" alt="">
      <br>
      <hr><br>
      <h1>SOFTWARE</h1><br>
      <p>The UNMS system is a solution to manage Ubiquiti infrastructure networks
        that allows us to monitor the entire network from remote means and also provides us
        the option of making collections or cuts on the internet line this need was born
        as a solution for wisp providers (wireless internet service provider
        (in English, wireless Internet service provider) gives us a large amount of data and allows us to update the software of the devices in real time</p>
    </div>
    <br>
    <hr>
    <br>
    <div class="skill-row" id="unms">
      <center>
        <h3>UNMS</h3>
        </br>
        <iframe class="unmsPag" src="https://unms-demo.ui.com/" width="1000" height="500"></iframe>
      </center>
    </div>
    <br>
    <hr>
    <div class="skill-row" id="airlink">
      <img class="language-gif" src="images/languages.gif" alt="">
      <h1>AIRLINCK</h1>
      </br>
      <P>
        A field simulator that thanks to the one of geographical maps we
        allows real-time testing of wireless equipment
        to be able to give the best performance and to be able to locate them in the
        more geographically efficient </P>
    </div>
    <div class="col-xs-1 col-md-4">
      <img class="img-lic-header" src="css/imgs/AIRLINCK.JPG" width="1000" height="500" alt="RAM">
    </div>
    <div id="autor" class="skill-row">
      <img class="img-johel" src="css/imgs/johel.png" alt="Johel">
      <h5>Johel González Siles</h5>
      <p class="into">IT Student at <a href="https://www.utn.ac.cr/" title="Página Universidad" style="color: green;"> UTN</a>, Costa Rica</p>
    </div>
  </section>

  <!---------- Bootstrap Script, Javascript and jQuery ----------->
  <script src="js/btnTop.js" charset="utf-8"></script>
  <script src="js/bootstrap-4.5.bundle.min.js" charset="utf-8"></script>
</body>

</html>