<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Software</title>
  <!-------------- LOGO ---------------->
  <link rel="shortcut icon" href="css/imgs/logo.ico">

  <!-------------- Bootstrap Stylesheet ------------->
  <link rel="stylesheet" href="css/bootstrap-4.5.min.css">

  <link rel="stylesheet" href="/css/pages.css">

</head>

<body>
  <section id="wrapper" class="toggled">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <center>
          <br>
          <li class="sidebar-brand"><a class="enc" href="#software">Software</a></li>
          <hr class="hrEnc">
          <li> <a class="lista" href="#unms">UNMS</a> </li>
          <li> <a class="lista" href="#airlink">Airlink</a> </li>
          <br><br>
          <li> <a class="home" href="/espanol">Volver a Home</a> </li>
        </center>
      </ul>
    </div>
  </section>
  <div class="container-fluid">
    <br>
    <p class="auth"><strong>Autor:</strong> Johel González, 6 Marzo, 2021</p>
  </div>
  <section class="middle-container">
    <div id="software" class="skill-row">
      <img src="images/victor.png" alt="">
      <br>
      <hr><br>
      <h1>SOFTWARE</h1><br>
      <p>El sistema de UNMS es una solución para administrar las redes de infraestructura Ubiquiti
        que nos permite darle seguimiento a toda la red desde medios remotos y también nos provee
        la opción de hacer cobros o de cortes en la línea de internet esta necesidad nació
        como solución para los proveedores wisp (proveedor de servicios de Internet inalámbrico
        (en inglés, wireless Internet service provider) nos da una gran cantidad de datos y nos permite actualizar los software de los dispositivos en tiempo real </p>
    </div>
    <br>
    <hr>
    <br>
    <div class="skill-row" id="unms">
      <center>
        <h3>UNMS</h3>
        </br>
        <iframe class="unmsPag" src="https://unms-demo.ui.com/" width="1000" height="500"></iframe>
      </center>
    </div>
    <br>
    <hr>
    <div class="skill-row" id="airlink">
      <img class="language-gif" src="images/languages.gif" alt="">
      <h1>AIRLINCK</h1>
      </br>
      <P>
        Un simulador de campo que gracias al uno de mapas geográficos nos
        permite hacer testeos en tiempo real de los equipos inalámbricos
        para poder dar el mejor desempeño y poder ubicarlos de la manera
        más eficaz geográfica mente </P>
    </div>
    <div class="col-xs-1 col-md-4">
      <img class="img-lic-header" src="css/imgs/AIRLINCK.JPG" width="1000" height="500" alt="RAM">
    </div>
    <div id="autor" class="skill-row">
      <img class="img-johel" src="css/imgs/johel.png" alt="Johel">
      <h5>Johel González Siles</h5>
      <p class="into">Estudiante de TI en la <a href="https://www.utn.ac.cr/" title="Página Universidad" style="color: green;"> UTN</a>, Costa Rica</p>
    </div>
  </section>

  <!---------- Bootstrap Script, Javascript and jQuery ----------->
  <script src="js/btnTop.js" charset="utf-8"></script>
  <script src="js/bootstrap-4.5.bundle.min.js" charset="utf-8"></script>
</body>

</html>