<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Wi-Fi AP</title>
  <!-------------- LOGO ---------------->
  <link rel="shortcut icon" href="css/imgs/logo.ico">

  <!-------------- Bootstrap Stylesheet ------------->
  <link rel="stylesheet" href="css/bootstrap-4.5.min.css">

  <link rel="stylesheet" href="/css/pages.css">

</head>

<body>

  <section id="wrapper" class="toggled">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <center>
          <br>
          <li class="sidebar-brand"><a class="enc" href="#dispositivos">Puntos de Acceso</a></li>
          <hr class="hrEnc">
          <li> <a class="lista" href="#camVig">Cámaras de Vigilancia</a> </li>
          <li> <a class="lista" href="#wifiAp">Wi-Fi AP</a> </li>
          <li> <a class="home" href="/espanol">Volver a Home</a> </li>
        </center>
      </ul>
  </section>

  <div class="container-fluid">
    <br>
    <p class="auth"><strong>Autor:</strong> Victor Zuniga, 6 Marzo, 2021</p>
  </div>

  <section class="middle-container">
    <div id="dispositivos" class="skill-row">
      <br>
      <hr><br>
      <h1>Puntos de acceso</h1>
      <br>
      <p>Un punto de acceso inalámbrico permite a los dispositivos que no tienen una conexión Wi-Fi incorporada acceder a una red inalámbrica con la ayuda de un cable Ethernet</p>
      <p>Un punto de acceso actúa como transmisor central y receptor de señales de radio inalámbricas. Los puntos de acceso inalámbricos principales admiten Wi-Fi y se utilizan en hogares. El punto de acceso se puede incorporar en el router
        cableado o en el router autónomo</p>
      <p>Existen diferencias entre un punto de acceso inalámbrico y un router inalámbrico, una de ellas y la más grande diferencia es que el router inalámbrico es que crea una red de área local conectando y administrando todos los dispositivos
        conectados a ella; mientras que un punto de acceso inalámbrico crea una red de área local que proporciona únicamente el acceso a la red establecida del router. En pocas palabras, un router puede cambiar la configuración de la red, pero un
        punto de acceso no</p>
      <br>
      <h3>Cuál es su función</h3>
      <br>
      <p>Su función es simple, un punto de acceso inalámbrico está diseñado para que pueda brindar conexión a internet de forma inalámbrica a los dispositivos que lo requieran, como tabletas, teléfonos inteligentes, computadoras, etc. Los puntos de
        acceso son más frecuentes de utilizarse en empresas y organizaciones medianas y grandes, ya que se suele instalar varios puntos de acceso para brindar una completa cobertura Wi-Fi, permitiendo que las redes Wi-Fi alcancen mayores distancias
        y número de clientes</p>
    </div>
    <br>
    <hr>
    <div class="skill-row" id="camVig">
      <img class="code-gif" src="images/code.gif" alt="">
      <h1>Cámaras de Vigilancia</h1>
      <br><br><br><br>
      <h3>Que son las cámaras de vigilancia exteriores</h3>
      <br>
      <p>Son dispositivos diseñados para la seguridad de cualquier local u hogar. Son preferidos por las familias debido a su funcionalidad para detectar cualquier anomalía que se presente fuera de los hogares, incluso la mayoría de las cámaras de
        vigilancia exteriores son capaces de conectarse directamente con el teléfono móvil y de esta forma informar mediante una alarma cualquier movimiento captado</p>
      <br>
      <h3>Cualidades de las cámaras de vigilancia exterior</h3>
      <br>
      <p>Las cámaras de vigilancia exterior están diseñadas para resistir las inclemencias climatológicas como la lluvia, la nieve o incluso un exceso de sol continuado y se pueden utilizar en espacios al aire libre</p>
      <p>Traen consigo una carcasa de protección que las hace más resistentes incluso a los golpes, pero la cualidad más notable es la de vigilar y velar por la seguridad del hogar las veinticuatro horas del día, los siete días a la semana</p>
      <br>
      <center>
        <h3>Cámaras de vigilancia exterior Ubiquiti</h3>
      </center>
      <br>
      <div class="carousel slide" id="testimonial" data-ride"true" data-interval="2000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <center>
              <h3 class="img-heading">UniFi Protect G4 Dome Camera</h3>
              <img class="ap" src="css/imgs/Dome.png" alt="Dome">
            </center>
          </div>
          <div class="carousel-item">
            <center>
              <h3 class="img-heading">UniFi Protect G4 PTZ</h3>
              <img class="ap1" src="css/imgs/PTZ.png" alt="LR">
            </center>
          </div>
          <div class="carousel-item">
            <center>
              <h3 class="img-heading">UniFI Protect G4 Doorbell</h3>
              <img class="ap2" src="css/imgs/Doorbell.png" alt="PRO">
            </center>
          </div>
          <div class="carousel-item">
            <center>
              <h3 class="img-heading">UniFi Protect G4-Bullet Camera</h3>
              <img class="ap3" src="css/imgs/Bullet.png" alt="EDU">
            </center>
          </div>
        </div>
        <a href="#testimonia" class="carousel-control-prev" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a href="#testimonial" class="carousel-control-next" role="button" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
      <br>
      <p>Existen varios modelos de cámaras de vigilancia exterior de la marca Ubiquiti, pero hablaremos solo de algunas que son relevantes para esta función, por ejemplo, las cámaras <strong>UniFi Protect G4 Dome Camera, UniFi Protect G4 PTZ, UniFI
          Protect G4 Doorbell, UniFi Protect G4-Bullet Camera</strong> y cada una tiene su función específica.
        La cámara <strong>UniFi Protect G4 Dome Camera</strong> es una muy buena opción si se quiere vigilar el exterior del hogar. Tiene una memoria de 512MB, la red funciona con RJ45 de 10 a 100 mbps Ethernet, el poder máximo es de 5W además de
        tener una memoria
        flash de 256MB. Su controlador de software es UniFi Protect y también para móviles.
      </p>
      <p><strong>Unifi Protect G4 PTZ</strong> es una de las mejores opciones si se quiere vigilar el exterior del hofar aunque es una opción no tan barata. Sin embargo, cuenta con una memoria de 1GB, su red funciona con RJ45 de 10 a 1000mbps
        Gigabit Ethernet, poder máximo de 42.9W y su memoria flash de 256MB. Su controlador de software es UniFi Protect y también para móviles</p>
      <p><strong>UniFi Protect G4 Doorbell</strong> es una excelente opción para instalar en la puerta del hogar y de esa forma vigilar si alguien se acerca demasiado. Posee una memoria de 512MB, la red funciona con Wi-Fi 802.11 ac, el poder máximo
        es de 12VA y su memoria flash es de 256MB. Su controlador de software es UniFi Protect y también para móviles</p>
      <p><strong>UniFi Protect G4-Buller Camera</strong> es una opción bastante cómoda para tenerla dentro y fuera del hogar. Su memoria es de 512MB DDR3L, su red funciona con RJ45 de 10 a 1000mbps Ethernet, su poder máximo es de 4W, y su memoria
        flash es de 256MB. Su controlador de software es UniFi Protect y para móviles también</p>
    </div>
    <br>
    <hr>
    <div class="skill-row" id="wifiAp">
      <img class="language-gif" src="images/languages.gif" alt="">
      <h1>Puntos de Acceso Ubiquiti</h1>
      <br><br><br><br>
      <h3>Wi-Fi AP Ubiquiti</h3>
      <br>
      <p>Existen muchas marcas que fabrican y brindan los puntos de acceso, ya sea para las empresas grandes, organizaciones u otras entidades que los necesite, sin embargo, aunque existan muchas marcas y algunas reconocibles, los mejores puntos de
        acceso y uno de más preferidos por los clientes han sido los puntos de acceso de la marca Ubiquiti</p><br>

      <div class="carousel slide" id="testimonial-carousel" data-ride"true" data-interval="2000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <center>
              <h3 class="img-heading">UAP-AC-LITE</h3>
              <img class="ap" src="css/imgs/UAPLITE.jpg" alt="LITE">
            </center>
          </div>
          <div class="carousel-item">
            <center>
              <h3 class="img-heading">UAP-AC-LR</h3>
              <img class="ap1" src="css/imgs/UAPLR.png" alt="LR">
            </center>
          </div>
          <div class="carousel-item">
            <center>
              <h3 class="img-heading">UAP-AC-PRO</h3>
              <img class="ap2" src="css/imgs/UAPPRO.png" alt="PRO">
            </center>
          </div>
          <div class="carousel-item">
            <center>
              <h3 class="img-heading">UAP-AC-EDU</h3>
              <img class="ap3" src="css/imgs/UAPEDU.png" alt="EDU">
            </center>
          </div>
        </div>
        <a href="#testimonial-carousel" class="carousel-control-prev" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a href="#testimonial-carousel" class="carousel-control-next" role="button" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
      <br>

      <p>La marca Ubiquiti posee muchos modelos de puntos de acceso, sin embargo, el preferido de todos ha sido <strong>el punto de acceso UAP-AC-LITE</strong>, debido principalmente a que no se necesita ningún dispositivo extra para hacerlo
        funcionar y a su cómodo
        precio. Entre los modelos de la marca Ubiquiti, podemos encontrar el <strong>UAP-AC-LITE, UAP-AC-LR, UAP-AC-PRO, UAP-AC-EDU</strong>, cada uno con sus respectivas diferencias y estadísticas</p>
      <p>Una de las ventajas que tiene el punto de acceso <strong>UAP-AC-LITE</strong> es precisamente que permite elegir hasta donde se quiere configurar la red. También tiene opciones avanzadas para ofrecer a las empresas, como autenticación
        <strong>RADIUS</strong>, también
        permite configurar alertas para que por medio de un email notifique si uno de los dispositivos conectados se desconecta o presente algún otro problema, así como las actualizaciones de software y nuevos firmwares para cada dispositivo
      </p>
    </div>
    </div>
    <br>
    <hr><br>
    <div id="autor" class="skill-row">
      <img class="img-victor" src="css/imgs/victor.png" alt="Victor">
      <h5>Victor Zúniga Salamanca</h5>
      <p class="into">Estudiante de TI en la <a href="https://www.utn.ac.cr/" title="Página Universidad" style="color: green;"> UTN</a>, Costa Rica</p>
    </div>
  </section>

  <!---------- Bootstrap Script, Javascript and jQuery ----------->
  <script src="js/btnTop.js" charset="utf-8"></script>
  <script src="js/jquery-3.5.1.min.js" charset="utf-8"></script>
  <script src="js/bootstrap-4.5.bundle.min.js" charset="utf-8"></script>
</body>

</html>